flappy-bird/Assets/UI.meta
flappy-bird/Assets/UI/START.cs
flappy-bird/Assets/UI/START.cs.meta
flappy-bird/Assets/UI/UI.unity
flappy-bird/Assets/UI/UI.unity.meta
flappy-bird/Library/ShaderCache/9/976ea39a8327a247e355958ae498a1cc.bin
flappy-bird/Library/ShaderCache/b/bd226a2e8ca352015a7a03c047b0a278.bin
flappy-bird/Library/metadata/52/52008fdd4eac86f42abb6014c7091267
flappy-bird/Library/metadata/52/52008fdd4eac86f42abb6014c7091267.info
flappy-bird/Library/metadata/66/6610c1eb8aca3ab43b32602a6354284f
flappy-bird/Library/metadata/66/6610c1eb8aca3ab43b32602a6354284f.info
flappy-bird/Library/metadata/df/dfe050bb8aff3704b9f6346ab59b7d1f
flappy-bird/Library/metadata/df/dfe050bb8aff3704b9f6346ab59b7d1f.info
flappy-bird/ProjectSettings/ProjectVersion.txt
flappy-bird/Temp/ProcessJobs/e9a6970f79cd12d8b075e7d72f1b07cb.bakert
flappy-bird/Temp/UnityLockfile
flappy-bird/Temp/UnityTempFile-323682c941ebf4a4f98761f42b83055d
flappy-bird/Temp/UnityTempFile-52f759a02db0a7645be367261c1062a6
flappy-bird/Temp/UnityTempFile-68855a48f7ef0604a84928e5caac4b42
flappy-bird/Temp/UnityTempFile-92cf864a3adde57459e1810bee9def89
flappy-bird/Temp/UnityTempFile-d07cde60435e4a143a507aca9798a6e0
flappy-bird/Temp/__Backupscenes/0.backup
